@font-face {
    font-family: 'aileron heavy regular';
    src: url('8.otf');
}@font-face {
    font-family: 'aileron regular';
    src: url('9.otf');
}@font-face {
    font-family: 'dancing script regular';
    src: url('10.ttf');
}@font-face {
    font-family: 'linear regular';
    src: url('12.otf');
}@font-face {
    font-family: 'railway regular';
    src: url('11.ttf');
}